[Desktop Entry]
Version=1.0
Type=Application
Name=Yazi
GenericName=File Manager
Comment=Terminal file manager
Exec=foot -e yazi %F
Terminal=false
MimeType=inode/directory;
Categories=System;FileTools;FileManager;
StartupNotify=true
NoDisplay=false
